
h1, h2 { 
  font-family: "Arial", sans-serif; 
  text-align:center;
  font-size:30px;
}

.less-important {
  font-size:15px;
}

.primary-text {
  color:green;
}

h1.primary-text {
  color:gray;
}

.secondary-text {
  color:blue;
}

.tertiary-text {
  color:black;
}

li {
  background-color:gray;
}

.favourite-artists-container ul > li {
  color:white;
}

.button {
  display:inline-block;
  padding: 5px 10px;
  border:1px solid #999;
  background:#aaa;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

.button:hover {
  background:#ddddee;
  color:black;
}